body{
  background: #fff;
  margin: 0 auto;
  padding: 0;
  color: #868686;
  max-width: 400px;
}
hr{
  border-top: 1px solid #868686;
  margin: 0 0 5px 0;
  padding: 0;
}
h1{
  font-size: 20px;
  font-weight: normal;
  padding: 10px;
  margin:0;
  background: #fafafa;
}
h2{
  font-size: 16px;
  font-weight: normal;
  padding: 0 10px;
  margin:0;
}
p{
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  margin:0;
}
a {
  color: #868686;
  text-decoration: none;
}

.header{
  width:100%;
  height:40px;
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
  line-height: 40px;
}
.header a{
  color: #868686;
  font-size: 16px;
  text-decoration: none;
  height: 40px;
  width: 100%;
  display: block;
}

.footer{
  width: 100%;
  text-align: center;
  border-top: 1px solid #bdbdbd;
}

.social-buttons{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.social-buttons a{
  display: block;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  color: #fff;
  line-height: 30px;
  margin: 0 5px;
  font-weight: normal;
  font-size: 14px;
}
.social-buttons a.twitter{
  background: #55ACEE;
}
.social-buttons a.line{
  background: #00B900;
}

.footer-menu{
  margin: 10px;
}
.carousel{
  width: 100%;
  height: 230px;
  background: url("./img/carousel_bg.jpg");
  background-size:cover;
  position: relative;
}
.carousel-text{
  position: absolute;
  bottom: 0;
  background:rgba(255, 255, 255, 0.8);
  font-size: 10px;
  text-align: center;
  width:100%;
  height: 25px;
  line-height:25px;
  font-size: 10px;
  color: #2271CD;
}
.carousel-images{
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.carousel-images img{
  width: 100%;
  height: auto;
}

.start-container{
  padding: 20px;
  background: #ECF7FF;
}
.button{
  display: block;
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
  margin: 0 5px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.button.primary{
  color: #fff;
  background: #55ACEE;
  border: 1px solid #55ACEE;
}
.button.secondary{
  color: #55ACEE;
  background: #fff;
  border: 1px solid #55ACEE;
}
.button[disabled]{
  opacity: 0.3;
}

.how-to-use{
  padding: 0px;
}
.how-to-use .annotation{
  margin: -5px 0 0 0;
  font-size: 10px;
}

.generator{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.fix-size{
  flex-grow: 0;
}
.variable-size{
  flex-grow: 1;
  overflow: scroll;
}

.breadcrumb{
  margin: 10px;
  display: flex;
}
.breadcrumb .step{
  width: 33.3%;
  height: 30px;
  box-sizing: border-box;
  padding: 0 5px;
  background: #9E9E9E;
  display: flex;
  justify-content: center;
  color: #fff;
  border-radius: 4px;
  position: relative;
}
.breadcrumb .step:after,
.breadcrumb .step:before{
  top: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  right: -28px;
  z-index: 10;
}
.breadcrumb .step:after{
  border-color: transparent;
  border-width: 15px;
  margin-top: -15px;
  border-left-color: #9E9E9E;;
}
.breadcrumb .step:before{
  border-color: transparent;
  border-width: 14px;
  margin-top: -14px;
  border-left-color: #ffffff;
}
.breadcrumb .step.active{
  background: #686868;
}
.breadcrumb .step.active:after{
  border-left-color: #686868;
}
.breadcrumb .step:last-child:before,
.breadcrumb .step:last-child:after{
  border: none;
}
.breadcrumb .step-number{
  font-size: 20px;
  padding: 0 5px 0 0;
}
.breadcrumb .step-text{
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center; /* 縦方向中央揃え */
  justify-content: center; /* 横方向中央揃え */
  text-align: center;
}

.action-buttons{
  margin: 15px 0;
  display: flex;
  justify-content:space-around;
}
.action-buttons button{
  width: 45%;
}

.load-button-container{
  padding: 20px;
}

.image-preview canvas{
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.tab{
  display: flex;
  margin: 0 10px 10px 10px;
}
.tab .tab-item{
  width: 50%;
  border: 1px solid #55ACEE;
  font-size: 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  color: #55ACEE;
  background: #fff;
}
.tab .tab-item.active{
  color: #fff;
  background: #55ACEE;
}
.hidden{
  display: hidden;
}

.swipe-right {
  width:120px;
  height: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.swipe-right-inner {
  width:120px;
  height: 120px;
  background: rgba(234,234,234, 0.9);
  color: #5a5a5a;
  text-align: center;
  line-height: 120px;
  animation: grow-right 0.1s ease 0s 1 alternate none running;
}

.swipe-left {
  width:120px;
  height: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.swipe-left-inner {
  width:120px;
  height: 120px;
  background: rgba(234,234,234, 0.9);
  color: #5a5a5a;
  text-align: center;
  line-height: 120px;
  animation: grow-left 0.1s ease 0s 1 alternate none running;
}

@keyframes grow-right {
  0% {
    transform: translate(-50px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes grow-left {
  0% {
    transform: translate(50px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}