body{
  background: #fff;
  margin: 0;
  padding: 0;
  color: #868686;
}
hr{
  border-top: 1px solid #868686;
  margin: 0 0 5px 0;
  padding: 0;
}
h1{
  font-size: 20px;
  font-weight: normal;
  padding: 0 10px;
  margin:0;
}
h2{
  font-size: 16px;
  font-weight: normal;
  padding: 0 10px;
  margin:0;
}
p{
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  margin:0;
}
a {
  color: #868686;
  text-decoration: none;
}

.header{
  width:100%;
  height:40px;
  text-align: center;
  border-bottom: 1px solid #bdbdbd;
  line-height: 40px;
}
.header a{
  color: #868686;
  font-size: 16px;
  text-decoration: none;
}

.footer{
  width: 100%;
  text-align: center;
  border-top: 1px solid #bdbdbd;
}

.social-buttons{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.social-buttons a{
  display: block;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  color: #fff;
  line-height: 30px;
  margin: 0 5px;
  font-weight: normal;
  font-size: 14px;
}
.social-buttons a.twitter{
  background: #55ACEE;
}
.social-buttons a.line{
  background: #00B900;
}

.footer-menu{
  margin: 10px;
}
.carousel{
  width: 100%;
  height: 230px;
  background: url("./img/carousel_bg.jpg");
  background-size:cover;
  position: relative;
}
.carousel-text{
  position: absolute;
  bottom: 0;
  background:rgba(255, 255, 255, 0.8);
  font-size: 10px;
  text-align: center;
  width:100%;
  height: 25px;
  line-height:25px;
  font-size: 10px;
  color: #2271CD;
}
.carousel-images{
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.carousel-images img{
  width: 100%;
  height: auto;
}

.start-container{
  padding: 20px;
  background: #ECF7FF;
}
.button{
  display: block;
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
  margin: 0 5px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.button.primary{
  color: #fff;
  background: #55ACEE;
}
.button.secondary{
  color: #55ACEE;
  background: #fff;
  border: 1px solid #55ACEE;
}

.how-to-use{
  padding: 0px;
}
.how-to-use .annotation{
  margin: -5px 0 0 0;
  font-size: 10px;
}